TrainsClient/Service References/TrainsServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TrainsService" />
  <xs:element name="GetPaths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrainsService" minOccurs="0" name="pathsQuery" nillable="true" type="q1:PathsQuery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPathsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrainsService" minOccurs="0" name="GetPathsResult" nillable="true" type="q2:ArrayOfPath" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>